body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-repeat: no-repeat;
    background-size: 100%;
    margin: 0;
    padding: 0;
}

header {
    background-color: #36454F;
    height: 60px;

}

nav {
    text-align: right;
    margin: 20px 0px;
}

article {
    color: whitesmoke;
    width: 80%;
    padding: 0;
    font-size: 12px;
    margin: 0px auto;
}

h3 {
    color: #36454F;
}

p {
    padding: 15px;
}

small {
    font-weight: 500;
    font-size: 15px;
}

input:focus {
    outline: none;
}

table {
    border-collapse: collapse;
    width: 100%;
    margin: 10px 5px;
    background-color: #36454F;
}

/* tr:nth-child(even) {
    background-color: #eee;
    color: black;
  } */

th {
    text-align: center;
    padding: 5px;
}

td,
th {
    border: 1px solid #dddddd;
    color: white;
}

td p {
    font-size: 12px;
    padding: 2px;
}

button {
    background: #36454F;
    color: whitesmoke;
    margin: 0px;
    font-size: 20px;
    border-radius: 5px;
    width: 100%;
    letter-spacing: 1px;

}

button:hover {
    background: black;
    cursor: pointer;
    margin: 0;
}

div #infoot {
    width: 95%;
    font-size: 15px;
    padding: 15px;
    height: 20px;
}

.error-input-border {
    border: 1px solid #FF0000;
}

.card {
    border-radius: 1px;
    text-align: center;
}

.blocks {
    align-content: space-between;
}

.dataTitle {
    background-color: #36454F;
    width: 100%;
    padding: 13px 0px;
    color: whitesmoke;


}

.flex-container {
    padding: 0;
    margin: 0;
    list-style: none;
    float: left;
    width: 100%;
    height: 100%;

    -ms-box-orient: horizontal;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -moz-flex;
    display: -webkit-flex;
    display: flex;

    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}

.space-between {
    -webkit-align-content: space-between;
    align-content: space-between;
    height: auto;

}

.flex-item {
    margin: 10px;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);
    width: 130px;
    box-shadow: 0px 0px 1px grey;

}

.rowBlocks {
    display: flex;
}

.subMain {
    height: 100%;
    width: 100%;
}

.centerLang {
    text-align: center;
}

#weatherForecast {
    margin-top: 10px;
}

#favicon {
    height: 70px;

}

#placetext {
    text-align: center;
    color: #dddddd;
}

.wind {
    height: 40%;
    width: 100%;
    margin: 10px;
    color: black;
    text-shadow: 0px 0px 3px white;
    background-color: #fff;
    background-color: rgba(255, 255, 255, 0.5);

}

#mainWrapper {
    height: 100vh;
    margin: 0 auto;
    width: 80%;

}

#searchSubDiv {
    display: flex;
    width: 100%;
    margin: 0 auto;

}

#searchBar {
    width: 100%;
}

#searchBtn {
    width: 30%;
    display: flex;
}

#descriptionDiv {
    display: flex;
    justify-content: center;
    background-color: grey;

}

#subDescriptionDiv {
    display: flex;
}

#frame {
    border: 0;
    height: 100%;
}

#twoDivWrapper {
    width: 100%;
    height: 700px;
    display: flex;


}

#firstDiv {
    height: 20%;
    width: 100%;
    background-color: #36454F;
    color: whitesmoke;
    border: solid #36454F 1px;
}

#secondDiv {
    height: 80%;
    width: 100%;
}

#btnVal {
    background-color: #36454F;
    font-size: 15px;
    margin: 0px 10px;

}

/* **************************  Mobile ************************** */
@media (max-width: 480px) {

    h3 {
        font-size: 12px;
        margin: auto 0px;
    }

    button {
        font-size: 12px;
        border-radius: 3px;
        width: 100%;
    }

    p {
        padding: 0px;
    }

    small {
        color: #36454F;
        font-size: 12px;
    }

    article {
        color: whitesmoke;
        width: 100%;
        padding: 0;
        font-size: 14px;
        margin: 2px;
    }

    div #infoot {
        width: 95%;
        font-size: 15px;
        padding: 1px;
        height: 30px;
        margin-right: 10px;
    }

    .space-between {
        -webkit-align-content: space-between;
        align-content: stretch;
        height: auto;

    }

    .wind {
        color: black;
        background-color: white;
    }


    .dataTitle {
        background-color: #eee;

    }

    #btnVal {
        display: none;
    }

    #twoDivWrapper {
        display: block;
    }

    #mainWrapper {
        width: 100%;
        margin: 0px;
    }

    #firstDiv {
        height: 15%;
        width: 100%;
    }

    #secondDiv {
        height: 85%;
        width: 100%;
    }

    div #infoot {
        width: 100%;
        font-size: 13px;
        padding: 2px;

    }

    #placetext {
        font-size: 15px;
    }
}

/* **************************  iPads, Tablets ************************** */

@media (max-width: 768px) {

    button {
        font-size: 12px;
        border-radius: 3px;
        width: 100%;
    }

    div #infoot {
        width: 100%;
        font-size: 13px;
        padding: 2px;

    }

    article {
        color: whitesmoke;
        width: 100%;
        padding: 0;
        font-size: 15px;
        margin: 2px;
    }

    small {
        color: #36454F;
    }

    h4 {
        font-size: 12px;
        margin: auto 0px;
    }

    div #infoot {
        width: 95%;
        font-size: 15px;
        padding: 1px;
        height: 30px;
        margin-right: 10px;
    }

    .flex-item {
        margin: 10px;
        background-color: #fff;
        background-color: rgba(255, 255, 255, 0.5);
        width: 200px;
    }

    .space-between {
        -webkit-align-content: space-between;
        align-content: space-between;
        height: auto;
        background-color: #36454F;
    }

    .card {
        padding: 2px;
        text-align: center;
        text-shadow: none;
    }

    .card h2 {
        font-size: 13px;
    }

    .wind {
        color: black;
        background-color: white;
    }

    #btnVal {
        display: none;
    }

    #twoDivWrapper {
        display: block;
    }

    #mainWrapper {
        width: 100%;
        margin: 0px;
    }

    #firstDiv {
        height: 15%;
        width: 100%;
    }

    #secondDiv {
        height: 85%;
        width: 100%;
    }

    #placetext {
        font-size: 15px;
    }

}

/* ************************** Small screens, laptops ************************** */

@media (max-width: 1024px) {
    small {
        color: #36454F;
    }

    article {
        color: whitesmoke;
        width: 100%;
        padding: 0;
        font-size: 14px;
        margin: 2px;
    }

    th {
        text-align: center;
        padding: 3px;
    }

    td,
    th {
        border: 1px solid #dddddd;
        color: white;
    }

    td {
        font-size: 12px;
        font-weight: 500px;
    }

    .subMain {
        height: 100%;
        width: 100%;
    }

    .flex-item {
        margin: 5px;
        background-color: #fff;
        width: 100px;
        text-align: center;
    }

    .dataTitle {
        background-color: #eee;
    }

    #mainWrapper {
        height: 100vh;
        margin: 0 auto;
        width: 95%;

    }
}

/* ************************** @ 1512px ************************** */

@media (max-width: 1512px) {
    #mainWrapper {
        height: 100vh;
        margin: 0 auto;
        width: 98%;

    }
}

/* ************************** @ 1240px ************************** */

@media (max-width: 1240px) {
    #mainWrapper {
        height: 100vh;
        margin: 0 auto;
        width: 98%;
    }

    .flex-item {
        margin: 5px;
        background-color: #fff;
        width: 100px;
        text-align: center;
    }

    small {
        font-size: 11px;
        padding: 0;
    }

    h3 {
        padding: 0;
        font-size: 15px;
        margin: 0;
    }

}